body {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 25px;
}

a:link, a:visited {
    text-decoration: none;
    color: Blue;
}

a:hover {
    color: Red;
}

.Header {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 800px;
    background-image: url(../../Content/Images/peters_papers_logo.png);
    background-repeat: repeat-x;
}

.Menu {
    top: 160px;
    left: 15px;
    width: 195px;
    position: absolute;
}

.Content {
    top: 160px;
    left: 170px;
    position: absolute;
    width: 600px;
}

.auto-style1 {
    width: 422px;
}

.auto-style4 {
    width: 293px;
}

.auto-style5 {
    width: 693px;
}

.auto-style6 /*<a href="Tickets.aspx">Tickets.aspx</a>*/ {
    width: 553px;
}

.auto-style1 {
    width: 10px;
}

.auto-style2 {
    width: 326px;
}

.auto-style3 {
    width: 175px;
}
